# Node & dependencies
node_modules/
dist/
.env*

# Vite & build outputs
.cache/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs/config
.vscode/
.idea/
.DS_Store
Thumbs.db

# System
*.swp
*~

# Test
coverage/

# Optional: OS
.sass-cache/
*.log

*-lock.*
*.lock